.slide-show {
    position: relative;
    display: flex;
    border-radius: 25px;
    height: 415px;
    justify-content: center;
    align-items: center;
}

.slide-show img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.left-arrow {
    position: absolute;
    left: 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
  
button:focus {
    outline: none;
}

.slide-show button {
    font-size: 5em;
}