.header {
    border-radius: 25px;
    height: 225px;
    background-image: url("../../assets/paysage-1.png");
    background-size: cover;
    background-position: center;

    /* grayscale filter */
    /* filter: brightness(50%);
    opacity: 0.7; */

    color: white;

    /* center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card-container {
    margin: 40px 0;
    background-color: var(--color-secondary);
    border-radius: 25px;
    padding: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

/* Tablette */
@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .card-container {
        padding: 0px;
        grid-gap: 20px;
        background-color: white;
        grid-template-columns: 1fr;
    }
}