.header {
    border-radius: 25px;
    height: 225px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/paysage-1.png");
    background-size: cover;
    background-position: center;

    color: white;

    /* center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card-container {
    margin: 40px 0;
    background-color: var(--color-secondary);
    border-radius: 25px;
    padding: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

/* Tablette */
@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .card-container {
        padding: 0px;
        grid-gap: 20px;
        background-color: white;
        grid-template-columns: 1fr;
    }

    .header {
        justify-content: center;
        position: relative;
        height: 110px;
    }

    .header h1 {
        position: absolute;
        font-size: 24px;
        left: 20px;
    }
}