.card-container {
    background-color: var(--color-primary);
    background: linear-gradient(180deg, var(--color-primary) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: white;

    aspect-ratio: 1/1;

    position: relative;
}

.card-container h2 {
    font-size: var(--font-size-primary);
    font-weight: normal;

    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0px;

    z-index: 1;
}

.card-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .card-container {
        aspect-ratio: unset;
        height: 255px;
    }
}