.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-container-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.banner-container-list a {
    text-decoration: none;
    color: var(--color-primary);

    /* font-size: 1.3rem; */
}

.banner-container-list li {
    font-size: 1.3rem;
}

.underline {
    border-bottom: 1px solid var(--color-primary);
}

.logo {
    height: 68px;
}

/* wip */
@media screen and (max-width: 460px) {
    .logo {
        height: 45px;
    }

    .banner-container-list {
        gap: 4px;
    }

    .banner-container-list a {    
        font-size: 12px;
    }
}