/* https://medium.com/@toshvelaga/using-global-css-variables-in-react-js-216f03fcdc56 */

@import "normalize.css";

:root {
    --color-primary: #FF6060;
    --color-secondary: #F6F6F6;

    --font-size-primary: 18px;
    --font-size-secondary: 1.5rem;
    --font-size-header: 2rem;
}

body {
    /* layout */
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 100px;

    /* font */
    font-family: Montserat, sans-serif;
    font-size: var(--font-size-primary);
    font-weight: 500;
    line-height: 1.5;
}

h1, h2 {
    font-style: normal;
    font-size: var(--font-size-header);
    font-weight: inherit;
}

.title {
    font-size: var(--font-size-secondary);
    font-weight: inherit;
}